.share-linkedin, .share-google-plus {
    display: none;
}

.col-xs-3 img {
    width: 100%;
    height: 100%;
}


.page-like {
    margin-top: 20px;
    margin-left: 115px;
}



ul.share li {
    /*float: left;*/
}
