#main-img {
    width: 30%;
    margin: 0 auto;
    display: block;
}


.col-xs-3 img {
    width: 100%;
    height: 100%;
}


.page-like {
    margin-top: 20px;
}

/*global page shares are done through iframes*/
.page-like iframe {
    height: 20px;
}
