<div id="news-item-1" data-hashtag="test" data-image="qmqskdjf">
    <h1 class="ss-title">Titel</h1>
    <p class="ss-description">tekst komt dan hier te staan</p>
</div>

<p>algemene tekst</p>

<ul class="social-container" ss-container-id="newsitem1" >
    <li><a class="facebook" href=""></a></li>
    <li><a class="twitter" href=""></a></li>
    <li><a class="googleplus" href=""></a></li>
</ul>
